<div class="container">
  <header>
    <h1>Carmate</h1>
  </header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Manage your car inventory more easily</h2>

    <div class="jumbotron">
      <nav>
        <% if logged_in? %>
          <p>Welcome, <%= current_user.username %>
          <a href="/cars/new">Create a new list</a>
          <a href="/logout"> Log Out </a>
        <% else %>
          <a href="/signup">Create an account!</a>
          <br>
          <a href="/login">Login</a>
        <% end %>
      </nav>
    </div>

  </div>
</div>
