<h1>Please login to access the list of your cars:</h1>

<% if flash[:login_failed] %> 
  <div class="login_error_message" %>
    <h3><%= flash[:login_failed] %></h3>
  </div>
<% end %>

<div class="create_login">
  <form action='/login' method="POST">
    <div class="form-group">
      <label for="username">Username:</label>
      <input name = "username" type="string" class="form-control" id="Username" aria-describedby="usernameHelp" placeholder="Enter your username">
      <small id="emailHelp" class="form-text text-muted">We will never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input name="password" type="password" class="form-control" id="Password" placeholder="Password">
    </div>
    
    <button type="submit" class="btn btn-primary">Login!</button>
    <br><br>
    <a href='/signup'>create an account</a>
    <br>
    <a href='/'>Cancel</a>
  </form>
</div>
